{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}Off Axis Gigs - Artists{% endblock %}
{% block import_block %}
    <link rel = "stylesheet" href="{% static "styles/artists.css" %}">
{% endblock %}
{% block body_block %}
    <section class="artists">
        <h1 class="artists__title">Artists</h1>
        <div class="artists__list">
            {% for artist in artists %}
                {% if artist.is_approved or user.is_staff %}
                    {% include 'components/artist.html' with artist=artist %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
