{% extends "Off_Axis/base.html" %}
{% load static %}


{% block title_block %}
    Artists
{% endblock %}

{% block import_block %}
    <link rel = "stylesheet" href="{% static "css/../../../static/styles/profile.css" %}">
{% endblock %}

{% block body_block %}
{% for artist in artists %}
    <ul>
        <li>
            <div class="artists-card">
                <h3>{{ artist.user.username }}</h3>
                <a href="{% url 'artist' slug=artist.slug %}">{{ artist.user.username }} </a>
                    <p>{{ artist.bio }}</p>
                    <p>{{ artist.genre }}</p>
            </div>
        </li>
    </ul>
{% empty %}
    <p>No artists found</p>
{% endfor %}

{% endblock %}
