{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title_block %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "styles/base.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block import_block %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="container header-container">
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt="Off Axis Logo"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#">Gigs</a></li>
                    <li><a href="{% url 'artists' %}">Artists</a></li>
                    <li><a href="#">Festivals</a></li>
                    <li><a href="#">Join</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block body_block %}{% endblock %}

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Off Axis Gigs. All rights reserved.</p>
            <div class="sign-up-form">
                <h3>Subscribe to our Newsletter</h3>
                {% include "components/label.html" with id="email-label" variant="light" required="true" for="email-input" size="md" text="Email Address" %}
                {% include "components/input.html" with id="email-input" name="email" type="email" variant="light" placeholder="Enter your email..." size="md" required="true" %}
                <div class="cta-button">
                    {% include "components/button.html" with id="subscribe-button" type="submit" variant="primary" text="Subscribe" size="md" %}
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
