{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
Off Axis Gigs - Contact
{% endblock title_block %}
{% block import_block %}
<link rel="stylesheet" href="{% static "styles/contact.css" %}">
{% endblock import_block %}
{% block body_block %}

{% if request.GET.contact_page_submission_value != "success" and cooldown %}
    <p>You must wait {{ cooldown|floatformat:0 }} seconds before submitting again.</p>
{% endif %}
{% if request.GET.contact_page_submission_value == "success" %}
    <p class="success-message">Your message was submitted successfully!</p>
{% endif %}

<div id="contactFormDiv">
    <h1>Contact Us</h1>

    <form class="auth-form" method="post" action="{% url 'contact' %}">
        {% csrf_token %}

        <div class="form-content">
            <!-- Name Tag -->
            <div class="form-row">
                {% include "components/label.html" with id="contactFullNameLabel" class="contactLabels" variant="dark" required="true" for="input1" size="md" text="Name" %}

                <div class="inline-inputs">
                    <div class="input-group">
                        {% include "components/label.html" with id="contactFirstNameLabel" class="contactLabelsAbove" variant="dark" required="true" for="input1" size="sm" text="First" %}
                        {% include "components/input.html" with id="contactFirstNameInput" name="first_name" type="text" variant="light" placeholder="First Name" size="lg" %}
                    </div>
                    <div class="input-group">
                        {% include "components/label.html" with id="contactLastNameLabel" class="contactLabelsAbove" variant="dark" required="true" for="input2" size="sm" text="Last" %}
                        {% include "components/input.html" with id="contactLastNameInput" name="last_name" type="text" variant="light" placeholder="Last Name" size="lg" %}
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="form-row">
                {% include "components/label.html" with id="contactEmailLabel" class="contactLabels" variant="dark" required="true" for="input3" size="md" text="Email" %}
                {% include "components/input.html" with id="contactEmailInput" name="email" type="email" variant="light" placeholder="Email" size="lg" %}
            </div>

            <!-- Message Type -->
            <div class="form-row">
                {% include "components/label.html" with id="contactMessageTypeLabel" class="contactLabels" variant="dark" required="true" for="input4" size="md" text="Issue" %}
                {% include "components/input.html" with id="contactMessageTypeInput" name="message_content" type="select" variant="light" size="sm" options=contact_message_type %}
            </div>

            <!-- Additional Information -->
            <div class="form-row">
                {% include "components/label.html" with id="contactMessageInfoLabel" class="contactLabels" variant="dark" required="true" for="input5" size="md" text="Additional Information" %}
                {% include "components/input.html" with id="contactMessageInfoInput" type="textarea" variant="light" size="lg" text="" %}
            </div>
        </div>

        <!-- Submit Button -->
        <div class="form-row button-row">
            {% include "components/button.html" with id="contactSubmitButton" type="submit" variant="primary" text="Submit" size="lg" %}
        </div>
    </form>
</div>

{% endblock body_block %}
