{% extends 'Off_Axis/base.html' %}
{% load static %}
{% block title_block %}
  Off Axis Gigs - {{ gig.artist.user.username|upper }} {{ gig.venue.address.city|upper }}
{% endblock %}
{% block import_block %}
  <link rel="stylesheet" href="{% static 'styles/gig.css' %}" />
  <script src="{% static 'scripts/gig.js' %}"></script>
{% endblock %}
{% block body_block %}

{% if user == gig.artist.user or user.is_staff %}
<section id="approval-section">
    <h2>Approval Status</h2>
    <p>{{ gig.artist.user.username }}'s Gig Approval Status: {{ gig.is_approved }}</p>
    {% if user.is_staff %}
        <form method="post" action="{% url 'approve_gig' gig.id %}">
            {% csrf_token %}
            <label for="approve">Approve Gig:</label>
            <input type="checkbox" id="approve" name="approve" {% if gig.is_approved %}checked{% endif %}>
            {% include "components/button.html" with id="button3" type="submit" variant="secondary" text="Save" size="sm" %}
        </form>
    {% endif %}
</section>
{% endif %}

{% if user.is_staff %}
<section id="close-section">
    <h2>Close Gig</h2>
    {% if gig.is_closed %}
      <p>Would you like to open this gig? This will enable ticket buying and show the gig to the public view.</p>
      <form method="post" action="{% url 'close_gig' gig.id %}">
        {% csrf_token %}
        {% include "components/button.html" with id="closeGigButton" type="submit" variant="secondary" text="Open Gig" size="md" %}
      </form>
    {% else %}
      <p>Would you like to close this gig? This will disable ticket buying and hide the gig from public view.</p>
      <form method="post" action="{% url 'close_gig' gig.id %}">
          {% csrf_token %}
          {% include "components/button.html" with id="closeGigButton" type="submit" variant="secondary" text="Close Gig" size="md" %}
      </form>
    {% endif %}
</section>

<section id="export-section">
    <h2>Export Ticket Data</h2>
    <p>This will export all the ticket sales data as a CSV for viewing in excel.</p>
    <form method="get" action="{% url 'export_gig_tickets' gig.id %}">
        {% csrf_token %}
        {% include "components/button.html" with id="exportGigButton" type="submit" variant="secondary" text="Export Data" size="md" %}
    </form>
</section>
{% endif %}

    <section class="gig-page">
        <img src="{{ gig.gig_photo_url }}"
             width="500"
             height="500"
             alt="{{ gig.artist.user.username }}'s gig"
             class="gig-page__image">
        <div class="gig-page__details">
            <h1 class="gig-page__title">{{ gig.artist.user.username }}</h1>
            <div class="gig-page__info">
                <p>{{ gig.date|date:"d/m/Y" }}</p>
                <p>Start time - {{ gig.date|date:"H:i" }}</p>
                <p>{{ gig.venue.name }}, {{ gig.venue.address.city }}</p>
            </div>
            <div class="gig-page__price">
                <h2>
                    Ticket Price <span>£{{ gig.price }}</span>
                </h2>
            </div>
            <p class="gig-page__tickets-status">
                {% if tickets_sold >= capacity %}
                    Sold Out!
                {% elif tickets_sold >= capacity_last_few %}
                    Last Few Tickets!
                {% else %}
                    Tickets Available!
                {% endif %}
            </p>
            <table class="gig-page__price-table">
                <tr>
                    <td>Booking Fee Per Ticket</td>
                    <td>£{{ gig.booking_fee }}</td>
                </tr>
                <tr>
                    <td>Total Payable Amount</td>
                    <td>£{{ gig.full_price }}</td>
                </tr>
            </table>
            <p class="gig-page__description">{{ gig.description }}</p>
            <form class="gig-page__form" action="/cart/" method="post">
                <div class="gig-page__form__quantity">
                    {% include "components/label.html" with variant="dark" required="true" for="quantity" size="lg" text="Quantity" %}
                    {% include "components/input.html" with id="quantityInput" name="quantity" type="number" variant="light" placeholder="1" size="lg" full="true" value="1" %}
                </div>
                {% include "components/button.html" with id="submitButton" type="submit" variant="rainbow" text="Add to cart" size="lg" %}
                <input type="hidden" name="gig_id" value="{{ gig.id }}">
                <input type="hidden" name="action" value="add">
                {% csrf_token %}
            </form>
            {% if user.is_authenticated and user.artist %}
              {% if gig.artist.user != user %}
                <form id="supportArtistForm" class="gig-page__form" action="{% url 'support_artist_gig' gig.id %}" method="post">
                  <div class="gig-page__form__quantity">
                    {% include 'components/label.html' with variant='dark' required='true' for='amount' size='lg' text='Support Amount' %}
                    {% include 'components/input.html' with id='amountInput' name='amount' type='number' variant='light' placeholder='1' size='lg' full='true' value='1' %}
                  </div>
                  {% include 'components/button.html' with id='supportButton' type='submit' variant='rainbow' text='Support Artist' size='lg' %}
                  {% csrf_token %}
                </form>
              {% endif %}
            {% endif %}

            {% if accepted_transactions %}
            <div class="gig-page__supporting-artists">
              <h2>Supporting Artists</h2>
              <ul>
                {% for t in accepted_transactions %}
                  <li>{{ t.from_artist.user.username }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if gig.artist.user == user %}
              {% if pending_transactions %}
              <div>
                <h2>Support Request</h2>
                <ul>
                  {% for t in pending_transactions %}
                  <li>
                    <div class="gig-page__support-request__details">
                        <p>{{ t.from_artist.user.username }} wants to support you with {{ t.amount }} credits.</p>
                        <a href="{% url 'artist' t.from_artist.slug %}">
                          {% include "components/button.html" with id="button7" type="button" variant="rainbow" text="View Profile" size="sm" %}
                        </a>
                        <div class = "support-buttons">
                          <form id="acceptArtistForm_{{ t.id }}" method="post" action="{% url 'accept_support' t.id %}">
                            {% csrf_token %}
                            {% include "components/button.html" with id="accept_artist" type="submit" variant="primary" text="Accept" size="sm" %}
                          </form>
                          <form id="rejectArtistForm_{{ t.id }}" method="post" action="{% url 'reject_support' t.id %}">
                            {% csrf_token %}
                            {% include "components/button.html" with id="reject_artist" type="submit" variant="primary" text="Reject" size="sm" %}
                          </form>
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
              {% endif %}
            {% endif %}
          </div>
        </section>

{% endblock body_block %}
