{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Gigs
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/gigs.css" %}">
{% endblock import_block %}
{% block body_block %}
    <section class="gigs">
        <h1 class="gigs__title">Gigs</h1>
        <div class="gigs__list">
            {% for gig in gigs %}
                {% if gig.is_approved or user.is_staff %}
                    {% include 'components/gig.html' with gig=gig %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock body_block %}
