{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Register
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}
{% block body_block %}
    <section class="register">
        <h1>Register</h1>
        <form class="auth-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% include "components/button.html" with id="submitButton" type="submit" variant="primary" text="Register" size="lg" %}
        </form>
    </section>
{% endblock body_block %}
