{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Register
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}
{% block body_block %}
    <section class="register">
        <h1>Register</h1>
        <form class="auth-form" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% include "components/input.html" with id="usernameInput" name="username" type="text" variant="light" placeholder="Please enter a username..." size="lg" full="true" %}
            {% include "components/input.html" with id="emailInput" name="email" type="text" variant="light" placeholder="Please enter an email..." size="lg" full="true" %}
            {% include "components/input.html" with id="phoneNoInput" name="phone_number" type="tel" variant="light" placeholder="Please enter a phone number..." size="lg" full="true" %}
            {% include "components/input.html" with id="passwordInput" name="password" type="password" variant="light" placeholder="Please enter a password..." size="lg" full="true" %}
            {% include "components/input.html" with id="confirmPasswordInput" name="confirm_password" type="password" variant="light" placeholder="Please enter password again..." size="lg" full="true" %}
            {% include "components/button.html" with id="submitButton" type="submit" variant="primary" text="Register" size="lg" %}
        </form>
    </section>
{% endblock body_block %}
