{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Ticket Scanner
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/ticket_scanner.css" %}">
    <script src="{% static "scripts/ticket_scanner.js" %}" defer type="module"></script>
{% endblock import_block %}
{% block body_block %}
    <section class="ticket-scanner">
        <div class="ticket-scanner__view">
            <video id="cameraView" width="100%" height="100%" autoplay>
            </video>
            <div class="ticket-scanner__view__overlay">
                <div class="ticket-scanner__view__crosshair"></div>
                <p class="ticket-scanner__view__label">Scan the QR code on the ticket</p>
            </div>
        </div>
    </section>
{% endblock body_block %}
