{% extends "Off_Axis/base.html"%}
{% load static%}
{% block title_block%}
    Off Axis Gigs - Logout
{% endblock title_block%}
{% block import_block%}
    <link rel="stylesheet" href="{% static "styles/auth.css"%}">
{% endblock import_block%}
{% block body_block %}
    <h1>Logout</h1>
    <div class ="section">
        <div class="auth-form">
            <form method="post" action="{% url 'logout'%}">
                {% csrf_token %}
                <input type="submit" value="logout">
            </form>
        </div>
    </div>
{% endblock body_block%}