{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Enter new password
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}
{% block body_block %}
    <section class="register">
        <h1>Enter new password</h1>

        {% if validlink %}
            <form method="post" class="auth-form">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="error-list">
                        {% for _, errors in form.errors.items %}
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}
                {% include "components/input.html" with name="new_password1" type="password" variant="light" placeholder="Please enter a password..." size="lg" full="true" %}
                {% include "components/input.html" with name="new_password2" type="password" variant="light" placeholder="Please enter password again..." size="lg" full="true" %}

                {% include "components/button.html" with id="submitButton" type="submit" variant="primary" text="Reset Password" size="lg" %}
            </form>

        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset <a href={% url "password_reset"%}>here</a>.</p>
        {% endif %}
    </section>
{% endblock body_block %}
