{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Reset Password Success
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}

{% block body_block %}
<section>
    <h1>Password reset email sent successfully</h1>
    <p>Please check your email for instructions on how to reset your password.</p>
    <p>If you do not receive an email within a few minutes, please check your spam folder.</p>
    </div>
</section>
{% endblock body_block %}
