{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Reset Password
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}

{% block body_block %}
<section>
    <h1>Reset Password</h1>
    <div>
        <form method="post" class="auth-form">
            {% csrf_token %}
            {% include "components/input.html" with name="email" type="text" variant="light" placeholder="Please enter your email..." size="lg" full="true" %}

            {% include "components/button.html" with type="submit" variant="primary" text="Reset" size="lg" %}
        </form>
    </div>
</section>
{% endblock body_block %}
