{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Enter new password
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}
{% block body_block %}
    <section class="register">
        <h1>Enter new password</h1>

        {% if validlink %}
            <form method="post" class="auth-form">
                {% csrf_token %}

                <!--errors are not showing right now, tried fixing, aint working yet, ignore commented part for now-->

                {% comment %} {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                {% if form.new_password1.errors %}
                    <div class="error">
                        {% for error in form.new_password1.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %} {% endcomment %}
                {% include "components/input.html" with id="new_password1" name="new_password1" type="password" variant="light" placeholder="Please enter a password..." size="lg" full="true" %}
                {% include "components/input.html" with id="new_password2" name="new_password2" type="password" variant="light" placeholder="Please enter password again..." size="lg" full="true" %}

                {% include "components/button.html" with id="submitButton" type="submit" variant="primary" text="Reset Password" size="lg" %}
            </form>

        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset <a href={% url "password_reset"%}>here</a>.</p>
        {% endif %}
    </section>
{% endblock body_block %}
