{% extends "Off_Axis/base.html" %}
{% load static %}
{% block title_block %}
    Off Axis Gigs - Reset Password Complete
{% endblock title_block %}
{% block import_block %}
    <link rel="stylesheet" href="{% static "styles/auth.css" %}">
{% endblock import_block %}

{% block body_block %}
<section>
    <h1>Password reset complete</h1>
    <p>Your password has been set. You may go ahead and log in now.</p>
    <a href="{% url 'login' %}">{% include "components/button.html" with id="" type="button" variant="primary" text="Login" size="lg" %}</a>
</section>
{% endblock body_block %}
