<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ artist_profile.user.username }}'s Profile</title>
  </head>
  <body>
    <h1>{{ artist_profile.user.username }}'s Profile</h1>
    
    {% if artist_profile.profile_picture_url %}
      <img src={{ artist_profile.profile_picture_url}}, width=300px, height=300px/>
    {% else %}
      <p>No Profile Picture Given.</p>
    {% endif %}

    {% if artist_profile.gigs %}
      <p> {{ artist_profile.user.username }}'s Gigs: {{ artist_profile.gigs}} </p>
    {% else %}
      <p> {{ artist_profile.user.username }} currently has no gigs! </p>
    {% endif%}

    <p> {{ artist_profile.user.username }}'s Genres: </p>
    <ul>
      {% for tag in artist_profile.genre_tags.all %}
          <li>{{ tag.tag }}</li>
      {% empty %}
          <li>No genres available.</li>
      {% endfor %}
    </ul>

    <p>Bio: {{ artist_profile.bio }}</p>

    <p> {{ artist_profile.user.username }}'s Socials: </p>
    <ul>
      {% for social_link in artist_profile.social_links.all %}
          <a href={{ social_link.url }}><li>{{ social_link.type }}</li></a>
      {% empty %}
          <li>No socials available.</li>
      {% endfor %}
    </ul>
  </body>
</html>
