{% load static %}
<a class="gig" href="{% url 'gig' gig.artist.slug gig.id %}" data-search="{{ gig.artist.user.username }}, {{ gig.venue.address.city }}">
    {% if gig.gig_picture %}
    <img class="gig__image"
         width="300"
         height="300"
         src="{{ gig.gig_picture.url }}"
         alt="gig">
    {% else %}
    <img class="gig__image"
         width="300"
         height="300"
         src="{% static 'images/logo.webp' %}"
         alt="gig">
    {% endif %}
    <div class="gig__label">
        <h2>{{ gig.artist.user.username }}</h2>
        <p>{{ gig.venue.address.city }}</p>
    </div>
</a>
