body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

:root {
  --oa-pink: #dd1167;
  --oa-pink-light: #fd3689;
  --oa-pink-dark: #a40f4d;
  --oa-pink-low-alpha: #dd116733;

  --oa-yellow: #f7ef3b;
  --oa-yellow-light: #fff990;
  --oa-yellow-dark: #dcd212;
  --oa-yellow-low-alpha: #dcd21233;

  --oa-green: #19892a;
  --oa-green-light: #23bc3a;
  --oa-green-dark: #136620;
  --oa-green-low-alpha: #19892a33;

  --oa-blue: #1892be;
  --oa-blue-light: #1ab2e9;
  --oa-blue-dark: #146c8d;
  --oa-blue-low-alpha: #1892be33;

  --oa-text-dark: #000000;
  --oa-text-light: #ffffff;
  --oa-text-medium: #5a5a5a;
  --oa-text-medium-light: #a4a4a4;

  background: url("../images/background_static.png") repeat;
  background-size: cover;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.header {
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header .logo {
  margin-right: 20px;
}

.logo img {
  height: 50px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav ul li {
  margin: 0;
}

.nav ul li a {
  color: var(--oa-yellow);
  text-decoration: none;
  font-weight: bold;
}

.nav ul li a:hover {
  color: var(--oa-yellow-light);
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3em;
  color: var(--oa-yellow);
  margin-bottom: 20px;
  font-weight: bold;
}

.hero p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto 20px;
  color: var(--oa-text-light);
  line-height: 1.5;
}

.cta-button button {
  background-color: var(--oa-pink);
  border: none;
  padding: 15px 30px;
  color: var(--oa-text-light);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.cta-button button:hover {
  background-color: var(--oa-pink-light);
}

.featured-artists {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}

.featured-artists h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: bold;
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 20px;
}

.artist-card {
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.artist-card:hover {
  transform: translateY(-5px);
}

.artist-card h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.artist-card p {
  font-size: 1em;
  color: #666;
}

.upcoming-gigs {
  padding: 60px 0;
  background: var(--oa-text-dark);
  text-align: center;
}

.upcoming-gigs h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  font-weight: bold;
}

.upcoming-gigs ul {
  list-style: none;
  padding: 0;
}

.upcoming-gigs ul li {
  background: var(--oa-text-light);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
  background: var(--oa-text-dark);
  color: var(--oa-text-light);
  padding: 20px 0;
  text-align: center;
}

.footer p {
  margin: 0;
  padding-bottom: 10px;
}

.footer .social-links a {
  color: var(--oa-text-light);
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.5em;
}

.footer .social-links a:hover {
  color: var(--oa-pink);
}

.footer .sign-up-form input[type="email"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  width: 250px;
}

.footer .sign-up-form .cta-button button {
  background-color: var(--oa-pink);
  color: var(--oa-text-light);
  padding: 10px 20px;
  border-radius: 5px;
}

.footer .sign-up-form .cta-button button:hover {
  background-color: var(--oa-pink-light);
}

@media (max-width: 768px) {
  .header .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .hero-content h1 {
    font-size: 2em;
  }

  .artists-grid {
    grid-template-columns: 1fr;
  }

  .artist-card {
    margin: 0 auto;
  }
}
