.profile-gigs {
    grid-column: 2;
}

.profile-gig-form {
    grid-column: 2;
}

.gig-forms-container {
    margin-top: 20px;
    padding: 25px 20px 10px;
    background-color: black;
    border-radius: 30px;
    border: 1px solid grey;
    grid-column: 1 / -1;
    justify-self: center;
    margin-right: 20px;
}

.gig-form-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.gig-form-row label {
    width: 125px;
    margin-right: 1rem;
    font-weight: bold;
}

.gig-form-row .input-field {
    flex: 1;
    gap: 1rem;
}

.inline {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
}

.inline-field {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    font-weight: bold;

}

.gig-form-headings {
    color: var(--oa-pink);
    margin-bottom: 20px;
    margin-top: 20px;
}

#gig-form-submit-button {
    margin: 20px 10px 10px;
}

.artist-tag {
    display: inline-block;
    background: black;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 2px;
    font-size: 0.9em;
    border: solid 1px grey;
}

.artist-tag .remove-tag {
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
