.gigs {
  padding: 4rem 10%;
}

.gigs__title {
  font-size: 3.25rem;
  text-align: center;
  margin-bottom: 4rem;
}

.gigs__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 3rem;
}

.gig {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}

.gig__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 50%;
}

.gig__label {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.15rem;
  background-color: var(--oa-pink);
  color: var(--oa-text-dark);
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 1;
}

.gig:nth-child(5n) .gig__label {
  background-color: var(--oa-orange);
}

.gig:nth-child(5n + 1) .gig__label {
  background-color: var(--oa-pink);
}

.gig:nth-child(5n + 2) .gig__label {
  background-color: var(--oa-yellow);
}

.gig:nth-child(5n + 3) .gig__label {
  background-color: var(--oa-blue);
}

.gig:nth-child(5n + 4) .gig__label {
  background-color: var(--oa-green);
}

.gig__label h2 {
  text-transform: uppercase;
  line-height: 1.5rem;
  font-size: 1.5rem;
}
