:root {
  animation: backgroundShift 10s infinite alternate;
}

body {
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 98.8vw;
  height: 100vh;
  border-style: solid;
  border-width: 5px;
  border-color: var(--oa-pink) var(--oa-yellow) var(--oa-green) var(--oa-blue);
  pointer-events: none; /* Ensures the border does not interfere with content interaction */
  box-sizing: border-box; /* Ensures the border is included in the element's dimensions */
}

@keyframes backgroundShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50% 0;
  }
}

.hero-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.hero-circle {
  content: "";
  margin-left: -5rem;
  opacity: 100%;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
}

.hero-circles img {
   /*display: none;*/
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  mix-blend-mode: luminosity;
}