:root {
  animation: backgroundShift 10s infinite alternate;
}

@keyframes backgroundShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50% 0;
  }
}

.hero-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.hero-circle {
  content: "";
  margin-left: -5rem;
  opacity: 75%;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}