.social-link-connected-text {
    color: var(--oa-green);
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

#main-social-div {
    text-align: center;
    font-size: 20px;
}

#main-social-div ul {
    list-style: none;
}

#main-social-div li {
    padding-bottom: 20px;

}

h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

strong {
    padding-right: 10px;
}
